/* Universal Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(26, 11, 46, 1);
}

/* Shared Color & Text Style  */

.text-color {
    color: white;
}

.linear-color {
    /* background: linear-gradient(rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1)); */
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));

}

.green-color {
    color: #00FF88;
}

.linear-text {
    /* color: linear-gradient(rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1)); */

    background: linear-gradient(rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}

/* Shared Style */

.display-flex {
    display: flex;
}


/* Nav Style */
.navbar {
    align-items: center;
    justify-content: space-between;
    height: 92px;
    padding: 16px 200px;
}

.tech-wave {
    font-size: 40px;
    height: 32px;
    font-weight: bolder;
}

.nav-links {
    list-style: none;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    opacity: 0.8;
}

.nav-btn {
    width: 135px;
    cursor: pointer;
    height: 44px;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border-radius: 30px;
    font-style: medium;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

hr {
    height: 0px;
    border: 1px solid var(--DS New/Colors/Stroke/Gray-Light, rgba(229, 231, 235, 1));
    opacity: 0.2;
}

/* Nav Bottom Style */

.nav-bottom-content {
    height: 760px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url('./img/hero-bg.png');
}

.mic-container {
    width: 350px;
    height: 350px;
    background-image: url('./img/hero-circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.badge-new {
    position: absolute;
    top: 15px;
    right: 20px;
    background: #00FF88;
    color: #1A0B2E;
    font-weight: bold;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    width: 75px;
    height: 38px;
}


.mic-icon {
    width: 140px;
    height: auto;
}

.nav-bottom-content h1 {
    margin-top: 40px;
    width: 550px;
    height: 73px;
    font-style: bolder;
    font-size: 60px;
    font-weight: 800;
}

.nav-bottom-content p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    width: 550px;
    height: 19px;
    /* gap: 24; */
}

.cta-buttons {
    margin-top: 24px;
    gap: 8px;
}

.btn-spotify {
    width: 201px;
    height: 44px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-style: Bold;
    font-size: 16px;
    font-weight: 600;
    color: white;
    /* gap: 8px; */
}

.btn-spotify img {
    width: 20px;
    height: 20px;
}

.btn-spotify span {
    padding: 12px 20px;
    width: 133px;
}

.btn-outline {
    width: 147px;
    height: 44px;
    cursor: pointer;
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 30px;
    font-style: medium;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    background: transparent;
}

/* 1st header Section Style */

.podcast {
    height: 646px;
    padding: 50px 200px 120px;
}

.about-podcast {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.about-podcast h2 {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-podcast-p1 {
    font-size: 16px;
    font-weight: 200;
    opacity: 0.7;
    margin-bottom: 80px;
}

/* Success Box  */

.success {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80;
}

.success-box {
    width: 240px;
    height: 94px;
    margin-top: 80px;
    gap: 80px;
    text-align: center;
}

.success-box h2 {
    font-size: 48px;
    font-weight: 900;
    font-style: bold;
}

.success-box h2 i {
    font-size: 35px;
}

.success-box p {
    margin-top: 16px;
    opacity: 0.8;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

/* 2nd header section style */

.choose {
    height: 1121px;
    padding: 120px 200px;
    background: rgba(35, 14, 61, 1);
}

.choose h1 {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.choose-box {
    max-width: 100%;
    height: 783px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "o R R R"
        "o r r r"
        "n n n O"
    ;
}

.choose-box>* {
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.headphone-img {
    margin-top: 90px;
}

.choose-box h3 {
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
}

.choose-box div p {
    margin-top: 16px;
    opacity: 0.6;
    font-style: medium;
    line-height: 24px;
    font-weight: 400;
    line-height: 24px;
}

.headphone-box {
    width: 380px;
    height: 480px;
    grid-area: o;
}

.device-box {
    width: 790px;
    height: 225px;
    grid-area: R;
}

.location-box {
    width: 790px;
    height: 225px;
    grid-area: r;
}

.zap-fast-box {
    width: 790px;
    height: 273px;
    grid-area: n;
}

.resource-box {
    width: 380px;
    height: 273px;
    grid-area: O;
}

/* bottom section style */

.bottom-section {
    height: 1276px;
    padding: 120px 200px;
    text-align: center;
}

.episode {
    height: 538px;
}

.episode h1 {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.video {
    height: 440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
    gap: 30px;
}

.video-box {
    background: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
}

.frame iframe {
    border-radius: 24px 24px 0 0;
}

.video-text {
    height: 226px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.video-text h3 {
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
}

.video-text p {
    opacity: 0.6;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

.video-text h4 {
    font-style: medium;
    font-size: 16px;
    font-weight: 600;
}

/* Host style */

.host {
    margin-top: 120px;
}

.host h1 {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.host-alex {
    display: flex;
    align-items: center;
    text-align: start;
    padding: 40px;
    height: 280px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.host-alex img {
    margin-right: 24px;
}

.about-host {
    display: flex;
    flex-direction: column;
}

.about-host h2 {
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-host p {
    opacity: 0.6;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    margin-bottom: 16px;
    line-height: 24px;
}

/* host media style */


.host-media {
    display: flex;
    gap: 8px;
}

.host-media-box {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1);
}

.host-media-box img {
    /* width: 20px;
    height: 20px; */
    cursor: pointer;
    /* border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1); */
}

/* Footer style */

footer {
    height: 412px;
    background-image: url('./img/footer-bg.png');
    /* align-items: center; */
    text-align: center;
    padding: 120px;
}

.footer-text {
    font-size: 80px;
    font-weight: bolder;
}

.footer-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.footer-media-link {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 32px;
}

.footer-media-link {
    gap: 10px;
}
.footer-media-link span{
opacity: 0.6;
}

.footer-bottom p {
    opacity: 0.6;
    margin-bottom: 120px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    width: auto;
    display: inline-block;
    white-space: nowrap;
}