/* Universal Styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    background: rgba(26, 11, 46, 1);
}

/* Shared Color & Text Style  */

.text-color {
    color: white;
}

.linear-color {
    /* background: linear-gradient(rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1)); */
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));

}

.green-color {
    color: #00FF88;
}

.linear-text {
    /* color: linear-gradient(rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1)); */

    background: linear-gradient(rgba(247, 233, 63, 1),
            rgba(251, 9, 180, 1),
            rgba(145, 0, 248, 1));
    background-clip: text;
    color: transparent;
}

/* Shared Style */

.display-flex {
    display: flex;
}


.mic-icon {
    width: 140px;
    height: auto;
    animation: smoothFloat 4s ease-in-out infinite;
}

@keyframes smoothFloat {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.btn-spotify:hover,
.nav-btn:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 25px rgba(251, 9, 180, 0.6);
    filter: brightness(1.1);
    background: linear-gradient(135deg, #007cf0, #00dfd8);
    color: rgb(45, 36, 41);
}

.btn-outline:hover {
    transform: translateY(-3px) scale(1.05);
    background: linear-gradient(135deg, #00FF88, #007cf0);
    border: 1px solid #00FF88;
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.4);
    color: white;
}

/* Nav Style */
.navbar {
    align-items: center;
    justify-content: space-between;
    height: 92px;
    padding: 16px 200px;
}

.tech-wave {
    font-size: 40px;
    height: 32px;
    font-weight: bolder;
}

.nav-links {
    list-style: none;
    gap: 32px;
}

.nav-links a {
    text-decoration: none;
    opacity: 0.8;
}

.nav-btn {
    width: 135px;
    cursor: pointer;
    height: 44px;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border-radius: 30px;
    font-style: medium;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

hr {
    height: 0px;
    border: 1px solid var(--DS New/Colors/Stroke/Gray-Light, rgba(229, 231, 235, 1));
    opacity: 0.2;
}

.hamburger-menu {
    display: none;
}

/* Nav Bottom Style */

.nav-bottom-content {
    height: 760px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url('./img/hero-bg.png');
    /* border: 6px solid rgba(42, 24, 108, 1); */
}

.mic-container {
    width: 350px;
    height: 350px;
    border: 1px solid rgba(42, 24, 108, 1);
    border-radius: 50%;
    background-image: url('./img/hero-circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.badge-new {
    position: absolute;
    top: 15px;
    right: 20px;
    background: #00FF88;
    color: #1A0B2E;
    font-weight: bold;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 1000px;
    width: 75px;
    height: 38px;
}


.mic-icon {
    width: 140px;
    height: auto;
}

.nav-bottom-content h1 {
    margin-top: 40px;
    width: 550px;
    height: 73px;
    font-style: bolder;
    font-size: 60px;
    font-weight: 800;
}

.nav-bottom-content p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: 400;
    width: 550px;
    height: 19px;
}

.cta-buttons {
    margin-top: 24px;
    gap: 8px;
}

.btn-spotify {
    width: 201px;
    height: 44px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-style: Bold;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.btn-spotify img {
    width: 20px;
    height: 20px;
}

.btn-spotify span {
    padding: 12px 20px;
    width: 133px;
}

.btn-outline {
    width: 147px;
    height: 44px;
    cursor: pointer;
    border: 1px solid #00FF88;
    padding: 12px 20px;
    border-radius: 30px;
    font-style: medium;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    background: transparent;
}

/* 1st header Section(Podcast) Style */

.podcast {
    height: 646px;
    padding: 50px 200px 120px;
}

.about-podcast {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.about-podcast h2 {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-podcast-p1 {
    font-size: 16px;
    font-weight: 200;
    opacity: 0.7;
    margin-bottom: 80px;
}

/* Success Box  */

.success {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}

.success-box {
    width: 240px;
    height: 94px;
    margin-top: 80px;
    gap: 80px;
    text-align: center;
}

.success-box h2 {
    font-size: 48px;
    font-weight: 900;
    font-style: bold;
}

.success-box h2 i {
    font-size: 35px;
}

.success-box p {
    margin-top: 16px;
    opacity: 0.8;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

/* 2nd header section style */

.choose {
    /* height: 1121px;
    padding: 120px 200px;
    max-width: 100%;
    background: rgba(35, 14, 61, 1); */
}

.choose h1 {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.choose-box {
    max-width: 100%;
    height: 783px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: grid;
    gap: 20px;
    grid-template-areas:
        "o R R R"
        "o r r r"
        "n n n B"
    ;
}

.choose-box>* {
    padding: 40px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.headphone-img {
    margin-top: 90px;
}

.choose-box h3 {
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
}

.choose-box div p {
    margin-top: 16px;
    opacity: 0.6;
    font-style: medium;
    line-height: 24px;
    font-weight: 400;
}

.headphone-box {
    width: 380px;
    height: 480px;
    grid-area: o;
}

.device-box {
    width: 790px;
    height: 225px;
    grid-area: R;
}

.location-box {
    width: 790px;
    height: 225px;
    grid-area: r;
}

.zap-fast-box {
    width: 790px;
    height: 273px;
    grid-area: n;
}

.resource-box {
    width: 380px;
    height: 273px;
    grid-area: B;
}

/* bottom section style */

.bottom-section {
    height: 1276px;
    padding: 120px 200px;
    text-align: center;
}

.episode {
    height: 538px;
}

.episode h1 {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.video {
    height: 440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
    gap: 30px;
}

.video-box {
    background: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
}

.frame iframe {
    border-radius: 24px 24px 0 0;
}

.video-text {
    height: 226px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.video-text h3 {
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
}

.video-text p {
    opacity: 0.6;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

.video-text h4 {
    font-style: medium;
    font-size: 16px;
    font-weight: 600;
}

/* Host style */

.host {
    margin-top: 120px;
}

.host h1 {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.host-alex {
    display: flex;
    align-items: center;
    text-align: start;
    padding: 40px;
    height: 280px;
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
}

.host-alex img {
    margin-right: 24px;
}

.about-host {
    display: flex;
    flex-direction: column;
}

.about-host h2 {
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.about-host p {
    opacity: 0.6;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    margin-bottom: 16px;
    line-height: 24px;
}

/* host media style */


.host-media {
    display: flex;
    gap: 8px;
}

.host-media-box {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1);
}

.host-media-box img {
    /* width: 20px;
    height: 20px; */
    cursor: pointer;
    /* border-radius: 50%;
    border: 1px solid rgba(83, 60, 114, 1); */
}

/* Footer style */

footer {
    height: 412px;
    background-image: url('./img/footer-bg.png');
    /* align-items: center; */
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 120px;
}

.footer-text {
    font-size: 80px;
    font-weight: bolder;
}

.footer-media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.footer-media-link {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 32px;
}

.footer-media-link {
    gap: 10px;
}

.footer-media-link span {
    opacity: 0.6;
}

.footer-bottom p {
    opacity: 0.6;
    margin-bottom: 120px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    width: auto;
    display: inline-block;
    white-space: nowrap;
}


/* Hide the display */
.hide {
    display: none !important;
}



/* Responsive */
/* Small Device */
@media (max-width: 576px) {
    /* body {
        width: 100%;
    } */

    .navbar,
    .podcast,
    .choose,
    .bottom-section,
    footer {
        height: auto;
        width: 95%;
    }

    .navbar {
        /* display: flex; */
        padding: 16px 20px;
        max-width: 440px;
        /* max-width: 576px; */
        height: 60px;
    }

    .tech-wave {
        font-size: 40px;
        height: auto;
        font-weight: bolder;
    }

    .nav-btn {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .hamburger-menu {
        cursor: pointer;
        display: block;
    }

    /* Nav Bottom Style */

    .nav-bottom-content {
        height: auto;
        max-width: 100%;
        background-image: url('./img/res-nav-hero-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 40px;
    }

    .mic-container {
        width: 200px;
        height: 200px;
        background-size: contain;
    }

    .nav-bottom-content h1 {
        font-size: 40px;
    }

    .mic-icon {
        width: 80px;
    }

    .badge-new {
        top: 8px;
        right: -20px;
        width: auto;
        height: auto;
        font-size: 12px;
        padding: 6px 12px;
    }

    .nav-bottom-content p {
        width: 100%;
        height: auto;
        padding: 0 10px;
    }

    .cta-buttons {
        gap: 12px;
    }

    .btn-spotify,
    .btn-outline {
        margin-bottom: 10px;
    }

    /* 1st header Section(Podcast) Style */

    .podcast {
        padding: 40px 20px;
        max-width: 100%;
    }

    .about-podcast {
        align-items: stretch;
    }

    .about-podcast h2 {
        font-size: 32px;
    }

    .about-podcast-p1 {
        max-width: 100%;
        width: 100%;
        margin-bottom: 40px;
    }

    .about-podcast-p1 br {
        display: none;
    }

    /* Success Box  */
    .success {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        max-width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .success-box {
        width: 100%;
        height: auto;
        margin-top: 0;
    }


    .success-box h2 {
        font-size: 32px;
    }

    .success-box h2 i {
        font-size: 25px;
    }

    /* 2nd header section style */

    .choose {
        max-width: 100%;
        background: rgba(35, 14, 61, 1);
        margin: auto;
    }

    .choose-box {
        display: flex;
        gap: 16px;
        margin: auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        gap: 16;
        padding: 10%;
        height: auto;
        max-width: 100%;
        padding-right: 20%;
    }

    .choose-h1 {
        text-align: center;
        background: rgba(35, 14, 61, 1);
    }

    .headphone-img {
        margin-top: 5px;
    }

    .headphone-box,
    .device-box,
    .location-box,
    .zap-fast-box,
    .resource-box {
        width: 100%;
        height: auto;
        max-height: 320px;
        gap: 5px;
    }

    .choose-box h3 {
        font-size: 22px;
    }

    /* bottom section style */
    .bottom-section {
        padding: 40px 20px;
        margin: auto;
    }

    .episode {
        height: auto;

    }

    .episode h1 {
        font-size: 32px;
    }

    .video {
        height: 600px;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        gap: 16px;
    }

    .frame iframe {
        width: 100%;
        max-height: 300px;
        height: 300px;
    }

    .video-text {
        gap: 8px;
    }

    /* Host style */
    .host {
        margin-top: 1080px;
    }

    .host-alex {
        flex-direction: column;
        text-align: center;
        padding: 24px;
        width: 100%;
        height: auto;
        gap: 16px;
    }

    .host-alex img {
        padding: auto 124px;
    }

    .about-host h2 {
        font-size: 24px;
    }

    .about-host p {
        text-align: center;
    }

    .host-media {
        justify-content: center;
    }

    /* Footer style */


    footer {
        height: 412px;
        /* align-items: center; */
        background-repeat: no-repeat;
        /* text-align: center; */
        /* margin-top: 100px; */
        background-size: contain;
        background-position: center;
        /* min-height: 100vh; */
        /* padding: -20px; */
        max-width: 100%;
        height: auto;
        margin-top: 40%;
        margin-bottom: 0px;
    }

    .footer-text {
        font-size: 30px;
        margin-top: 50%;
    }

    .footer-media-link {
        margin-bottom: 0px;
    }

    .footer-media {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .footer-bottom p {
        margin-bottom: 0px;
        /* margin-top: ; */
    }


}